.skill-box {
  opacity: 0;
  transform: translateX(-80px) translateY(20px) rotate(-5deg) scale(0.9);
  transition: transform 0.8s cubic-bezier(0.25, 1, 0.35, 1), opacity 0.8s ease,
    box-shadow 0.3s ease;
  border-radius: 12px;
  padding: 16px;
  background: rgba(255, 255, 255, 0.06);
  cursor: pointer;
}

.skill-box.show {
  opacity: 1;
  transform: translateX(0) translateY(0) rotate(0deg) scale(1);
}

.skill-box.hovered {
  transform: translateY(-8px) rotate(3deg) scale(1.1);
  box-shadow: 0 12px 25px rgba(56, 189, 248, 0.7);
}

.skill-logo-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.skill-box.delay-0 {
  transition-delay: 0.05s;
}

.skill-box.delay-1 {
  transition-delay: 0.15s;
}

.skill-box.delay-2 {
  transition-delay: 0.25s;
}

.skill-box.delay-3 {
  transition-delay: 0.35s;
}

.skill-box.delay-4 {
  transition-delay: 0.45s;
}

.skill-box.delay-5 {
  transition-delay: 0.55s;
}

.skill-box.delay-6 {
  transition-delay: 0.65s;
}

.skill-box.delay-7 {
  transition-delay: 0.75s;
}

.skill-box.delay-8 {
  transition-delay: 0.85s;
}

.skill-box.delay-9 {
  transition-delay: 0.95s;
}